
<ul id="menu">
    <li><a [routerLink]="['/search']" id="menu-search">Otsi</a></li>
    <li><a [routerLink]="['/new']" id="menu-new">Lisa</a></li>
</ul>

<br /><br /><br />

<router-outlet></router-outlet>
