
<form ngNoForm>
    <ul id="message-block" class="error-block" *ngIf="errors.length > 0">
        <li *ngFor="let error of errors"
            [attr.data-code]="error.code">{{ error.message }}</li>
    </ul>

    <table class="form-table">
        <tbody>
        <tr>
            <td>Eesnimi:</td>
            <td><input id="first-name" [(ngModel)]="customer.firstName"/></td>
        </tr>
        <tr>
            <td>Perekonnanimi:</td>
            <td><input id="last-name" [(ngModel)]="customer.lastName"/></td>
        </tr>
        <tr>
            <td>Kood:</td>
            <td><input id="code" [(ngModel)]="customer.code"/></td>
        </tr>
        <tr>
            <td>Kliendi tüüp:</td>
            <td>
                <select id="type" [(ngModel)]="customer.type">
                    <option *ngFor="let type of customerTypes"
                            [ngValue]="type">{{type}}</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Telefonid:</td>
            <td></td>
        </tr>

        <tr *ngFor="let phone of customer.phones; let i = index" >
            <td></td>
            <td>
                <select id="phone-select-{{ i }}" [(ngModel)]="phone.type">
                    <option *ngFor="let type of phoneTypes"
                            [ngValue]="type">{{type}}</option>
                </select>

                <input [(ngModel)]="phone.value" id="phone-value-{{ i }}">

                <a href (click)="deletePhone(phone)" id="delete-phone-link-{{ i }}">kustuta</a></td>
        </tr>

        <tr>
            <td colspan="2" align="right"> <a href id="add-phone-link"
                                              (click)="addPhone()">Lisa telefon</a></td>
        </tr>

        <tr>
            <td colspan="2" align="right"><br/>
                <a href (click)="submitForm($event)" id="save-link">Salvesta</a>
            </td>
        </tr>

        </tbody>
    </table>
</form>
