
<input id="search-string" [(ngModel)]="searchString" />

<br /><br />

<table class="list-table">
    <thead>
      <tr>
          <th scope="col">Eesnimi</th>
          <th scope="col">Perekonnanimi</th>
          <th scope="col">Kood</th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="customer in vm.customers "
        *ngFor='let customer of customers | filter : searchString; let i = index'>
        <td id="first-name-{{ i }}">
            <a href="#/edit/{{ customer.id }}" >{{ customer.firstName }}</a>
        </td>
        <td>
            {{ customer.lastName }}
        </td>
        <td>
            {{ customer.code }}
        </td>
        <td>
            <a href (click)="deleteCustomer(customer)"
                    id="delete-button-{{ customer.code }}">Kustuta</a>
        </td>
    </tr>
    </tbody>
</table>
